html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: black;
}
* {
    -webkit-tap-highlight-color: transparent;
}
#canvas {
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}
.overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.overlay .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8rem;
  padding: 0 1rem 5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg,#0e1212 3rem,rgba(14,18,18,0));
  transition: opacity 1s ease-in-out;
}

.overlay .menu {
    align-self: flex-end;
    margin: 25px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #efefef;
    font-family: 'whiterabt', monospace;
}
.overlay .menu a {
    margin: auto 15px;
}

.overlay .menu a span {
    font-weight: 700;
    margin-right: 0.5em;
}

.overlay .menu a {
    color: #efefef;
    text-decoration: none;
    font-weight: 300;
    border-bottom: 1px solid transparent;
    transition: border 250ms ease-in-out;
}

.overlay .menu a:hover {
    border-bottom: 1px solid #1ff042;
    cursor: pointer;
    color: #1ff042;
}

.overlay .menu a.icon,
.overlay .menu a.icon:hover {
    border: none;
    transition: opacity 250ms ease-in-out;
}
.overlay .menu a.icon:hover {
    opacity: 0.8;
    color: #1ff042;
}

.title {
  color: #dbdbdb;
  font-size: 4rem;
  font-weight: 700;
  word-spacing: -.1em;
  letter-spacing: -.05em;
  word-break: break-word;
  hyphens: auto;
}

.subtitle {
  word-spacing: -.1em;
  letter-spacing: -.03em;
  word-break: break-word;
  hyphens: auto;
}

.green {
  color: rgba(31, 240, 66, 0.75);
}

.red {
  color:rgba(250, 99, 79, 0.75);
}

.blue {
  color:rgba(82, 208, 240, 0.75);
}

/* Spine */

.spine, .spine-target {
  position: fixed;
  z-index: 2;
}

.spine-target {
  top: calc(50vh - 11px);
  left: calc(25vw - 2rem - 5px);
  width: 9px;
  height: 9px;
}

.spine-target .circle {
  position: absolute;
  width: 9px;
  height: 9px;
  transform-origin: center;
  border-radius: 3rem;
  background: transparent;
  background-color: transparent;
  border: 1px solid rgba(31, 240, 66, 0.75);
}

.spine {
  top: 50vh;
  bottom: 0;
  left: calc(25vw - 2rem);
  width: 1px;
  background: rgba(31, 240, 66, 0.75) linear-gradient(0deg,#0e1212 1rem,rgba(14,18,18,0) 20vh);
}

/* About */

.overlay .about {
  display: none;
  overflow: auto;
  color: #dbdbdb;
  font-family: 'whiterabt', monospace;
  transition: opacity 3s ease-in-out;
}

.overlay .about .subsection {
  font-size: 1.2rem;
  background: hsl(0, 0%, 0%, 0.9);
  box-shadow: 0 0 25px 32px hsl(0, 0%, 0%, 0.9);
  /*box-shadow: 0 0 15px 17px hsl(0, 0%, 0%, 0.9);*/
  padding: 15px;
  /*padding: calc(50vh - 3.5rem) 0 0;*/
  margin: 0 25vw;
  /*min-height: 100vh;*/
  perspective: 900px;
  perspective-origin: 50% 50vh;
}

.subsection p {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

.gap {
  height: calc(35vh - 3.5rem);
}

.fade {
    opacity: 0;
}

.icon-360 {
    width: 28px;
    height: 20px;
    margin-right: 10px;
}
.icon-360-fill {
    fill: #ffffff;
}

/* Loading Bar */

.loading {
    margin-top: 100px;
    width: 250px;
    transition: opacity 500ms ease-in-out;
    z-index: 20;
}
.loading.hidden {
    display: none;
}
.loading .label {
    font-family: 'whiterabt', monospace;
    color: #eaeaea;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}
.loading .bar {
    max-width: 250px;
    height: 2px;
    /*background: #eaeaea;*/
    background: #333;
    margin: 10px auto;
    border-radius: 2px;
}
.loading .gauge {
    width: 0%;
    height: 100%;
    /*background: #333;*/
    background: #eaeaea;
    transition: all 250ms ease-in-out;
}

/* ASCII art */

.container {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    transition: opacity 1s ease-in-out;
}
.ascii {
    font: 7.5px monospace; 
    line-height: 9px; 
    background-color: black; 
    color: #1ff042;
}

/* Terminal Input */

@-webkit-keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .four-oh-four {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 2;
    background-color: black;
    transition: opacity 300ms ease-out;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .four-oh-four .dJAX_internal {
    opacity: 0;
  }
  .four-oh-four form, .four-oh-four input {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
  }
  
  .terminal {
    position: relative;
    padding: 4rem;
  }
  .terminal .prompt {
    color: #1ff042;
    display: block;
    font-family: "AndaleMono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    white-space: pre-wrap;
    text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
    line-height: 1;
    margin-bottom: 0.75em;
  }
  .terminal .prompt:before {
    content: "> ";
    display: inline-block;
  }
  .terminal .new-output {
    display: inline-block;
  }
  .terminal .new-output:after {
    display: inline-block;
    vertical-align: -0.15em;
    width: 0.75em;
    height: 1em;
    margin-left: 5px;
    background: #1ff042;
    box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
    -webkit-animation: cursor-blink 1.25s steps(1) infinite;
    -moz-animation: cursor-blink 1.25s steps(1) infinite;
    animation: cursor-blink 1.25s steps(1) infinite;
    content: "";
  }

  .four-oh-four-form {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* Phone sizes */
  @media screen and (max-width: 600px) {
    .ascii {
      font: 5.5px monospace; 
      line-height: 7px; 
      background-color: black; 
      color: #1ff042;
    }
  
    .terminal .prompt {
      font-size: 0.7em;
      letter-spacing: 0.15em;
    }

    .overlay .menu {
      margin: 15px;
      font-size: 13px;
    }

    .overlay .menu a {
      margin: auto 13px;
    }

    .container {
      top: 15%;
    }

    .terminal {
      padding: 1rem 3rem;
    }

    .gap {
      height: calc(45vh - 3.5rem);
    }

    .overlay .about .subsection {
      font-size: 0.9rem;
      padding: 10px;
      margin: 0 10vw;
    }

    .spine {
      left: calc(15vw - 2rem);
    }

    .spine-target {
      left: calc(15vw - 2rem - 5px);
    }

    .title {
      font-size: 1.9rem;
    }
  }